html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// MY CSS Starts Here

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #adb5bd;
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7.5vh;
        color: white;
        font-size: 2em;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
    hr {
        margin: 0;
    }
    form {
        text-align: center;
        input[type=text]{
            margin-top: 2%;
            font-size: 1.5em;
            width: 80%;
            border-radius: 5px;
            border: 1px solid grey;
            font-family: inherit;
        }
        #note-text {
            font-family: inherit;
            resize: none;
            font-size: 1.3em;
            width: 80%;
            height: 150px;
            margin: 2% 0;
            border-radius: 5px;
        }
        button {
            font-family: inherit;
            font-size: 1.2em;
            margin-bottom: 2%;
            border-radius: 5px;
            border: 1px solid black;
            transition: background-color 300ms ease;
        }
        button:hover {
            background-color: rgb(92, 92, 92);
        }
        select {
            font-family: inherit;
            font-size: 1.2em;
        }
    }
    .notes {
        .note {
            display: flex;
            align-items: center;
            justify-content: space-around;
            min-height: 100px;
            background-color: lightblue;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            margin: 2% 0;
            padding: 20px 0;
            p {
                width: 60%;
            }
            img {
                width: 7.5%;
                height: fit-content;
            }
        }
    }
}

